@model Greer_P1.Models.ProductsInCategoryViewModel

<h2>Category: @Model.ChosenCategory.fldCatagoryName</h2>


@using (Html.BeginForm("Index", "ProductsInCategory", FormMethod.Post, new { id = "categoriesSelect" }))
{
    <div>
        <fieldset>
            <legend>Select a Different Category Below</legend>

            @*<label for="selCategories">Choose a Music Category:</label>*@
            @Html.DropDownList("categoriesSelect",
                                    new SelectList(Model.Categories, "fldCatagoryID", "fldCatagoryName"),
                                    new { @onchange = "submit();" })
        </fieldset>
    </div>
    <table class="table table-bordered table-striped">

        <tr>
            <th>

            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Description
            </th>
            <th>
                Product Price
            </th>
            <th>
                Product SKU
            </th>
            <th>
                Product Category ID
            </th>
        </tr>

        @foreach (var item in Model.InventoryInCategory)
        {
            <tr>
                <td>
                    <a>
                        <img src="@Url.Content("~/Images/" + item.fldProductImageFile)" height="100" width="100">
                    </a>
                </td>
                <td>
                    @item.fldProductName
                </td>
                <td>
                    @item.fldProductDescription
                </td>
                <td>
                    @item.fldProductPrice
                </td>
                <td>
                    @item.fldProductSKU
                </td>
                <td>
                    @item.fldCatagoryID
                </td>
            </tr>
        }

    </table>
}